<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile ="c:/temp/logs/internal_log.log" internalLogLevel="Trace">

  <targets>
    <target name = "logfile" xsi:type="File"
            layout="${longdate}|${level:upperCase=true}|${logger}|${message}${exception:format=ToString}"
            fileName="c:/temp/logs/FactorioSync2/${shortdate}.log"
            keepFileOpen="true"
            encoding="utf-8"
            archiveAboveSize="1000000"
            maxArchiveFiles="10"
    />
    <target name = "logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name = "*" minlevel="Info" writeTo="logfile" />
    <logger name = "*" minlevel="Debug" writeTo="logconsole" />
  </rules>
</nlog>